dotenv_if_exists .env
dotenv_if_exists .env.local

keytool -importkeystore -noprompt \
  -destkeystore keystore.jks \
  -storepass changeit \
  -srcstoretype PKCS12 \
  -srcstorepass Dler \
  -srckeystore ~/Dropbox/sync/testcert.p12
export JAVA_KEYSTORE=keystore.jks
export JAVA_KEYSTORE_PASSWORD=changeit
