{:deps {:aliases [:dev]}

 :ssl      {:keystore #shadow/env "JAVA_KEYSTORE"
            :password #shadow/env "JAVA_KEYSTORE_PASSWORD"}
 :http     {:port     8063
            :ssl-port 8062}
 :dev-http {8064 ["resources/public"]}

 :build-defaults {:devtools         {:devtools-url          "https://localhost:8062"
                                     :ignore-warnings       true
                                     :use-document-protocol true}
                  :compiler-options {:warnings {:fn-deprecated false}
                                     :infer-externs true
                                     :externs  ["datascript/externs.js"]}}

 :builds
 {:bg    {:target     :esm
          :runtime    :browser
          :output-dir "resources/public/bg/js"
          :modules    {:shared {:entries []}
                       :main   {:init-fn bg.core/init! :depends-on #{:shared}}}
          :dev        {:closure-defines {shadow.cljs.devtools.client.env/devtools-url
                                         "https://localhost:8062"}}}
  :cs    {:target     :browser
          :output-dir "resources/public/cs/js"
          :asset-path "/public/js/cs"
          :modules    {:main {:init-fn cs.core/init!}}
          :dev        {:closure-defines {shadow.cljs.devtools.client.env/devtools-url
                                         "https://localhost:8062"}}}
  :popup {:target     :esm
          :runtime    :browser
          :output-dir "resources/public/popup/js"
          :modules    {:shared {:entries []}
                       :main   {:init-fn popup.core/init! :depends-on #{:shared}}}
          :dev        {:closure-defines {shadow.cljs.devtools.client.env/devtools-url
                                         "https://localhost:8062"}}}
  :dt    {:target     :esm
          :runtime    :browser
          :output-dir "resources/public/dt/js"
          :modules    {:shared {:entries []}
                       :main   {:init-fn dt.core/init! :depends-on #{:shared}}}
          :dev        {:closure-defines {shadow.cljs.devtools.client.env/devtools-url
                                         "https://localhost:8062"}}}}}
